<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>Expression_1</string>
		<key>type</key>
		<string>emoji</string>
		<key>group</key>
		<string>emoji</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>text</key>
				<string>大笑</string>
				<key>image</key>
				<string>Expression_1</string>
				<key>imageTag</key>
				<string>em2_01</string>
			</dict>
			<dict>
				<key>text</key>
				<string>酷</string>
				<key>image</key>
				<string>Expression_2</string>
				<key>imageTag</key>
				<string>em2_02</string>
			</dict>
			<dict>
				<key>text</key>
				<string>笑哭</string>
				<key>image</key>
				<string>Expression_3</string>
				<key>imageTag</key>
				<string>em2_03</string>
			</dict>
			<dict>
				<key>text</key>
				<string>飞吻</string>
				<key>image</key>
				<string>Expression_4</string>
				<key>imageTag</key>
				<string>em2_04</string>
			</dict>
			<dict>
				<key>text</key>
				<string>囧</string>
				<key>image</key>
				<string>Expression_5</string>
				<key>imageTag</key>
				<string>em2_05</string>
			</dict>
			<dict>
				<key>text</key>
				<string>色色</string>
				<key>image</key>
				<string>Expression_6</string>
				<key>imageTag</key>
				<string>em2_06</string>
			</dict>
			<dict>
				<key>text</key>
				<string>恶魔</string>
				<key>image</key>
				<string>Expression_7</string>
				<key>imageTag</key>
				<string>em2_07</string>
			</dict>
			<dict>
				<key>text</key>
				<string>礼物</string>
				<key>image</key>
				<string>Expression_8</string>
				<key>imageTag</key>
				<string>em2_08</string>
			</dict>
			<dict>
				<key>text</key>
				<string>cool</string>
				<key>image</key>
				<string>Expression_9</string>
				<key>imageTag</key>
				<string>em2_09</string>
			</dict>
			<dict>
				<key>text</key>
				<string>up</string>
				<key>image</key>
				<string>Expression_10</string>
				<key>imageTag</key>
				<string>em2_10</string>
			</dict>
			<dict>
				<key>text</key>
				<string>100</string>
				<key>image</key>
				<string>Expression_11</string>
				<key>imageTag</key>
				<string>em2_11</string>
			</dict>
			<dict>
				<key>text</key>
				<string>赞</string>
				<key>image</key>
				<string>Expression_12</string>
				<key>imageTag</key>
				<string>em2_12</string>
			</dict>
			<dict>
				<key>text</key>
				<string>鼓掌</string>
				<key>image</key>
				<string>Expression_13</string>
				<key>imageTag</key>
				<string>em2_13</string>
			</dict>
			<dict>
				<key>text</key>
				<string>烟花</string>
				<key>image</key>
				<string>Expression_14</string>
				<key>imageTag</key>
				<string>em2_14</string>
			</dict>
			<dict>
				<key>text</key>
				<string>玫瑰</string>
				<key>image</key>
				<string>Expression_15</string>
				<key>imageTag</key>
				<string>em2_15</string>
			</dict>
			<dict>
				<key>text</key>
				<string>钻石</string>
				<key>image</key>
				<string>Expression_16</string>
				<key>imageTag</key>
				<string>em2_16</string>
			</dict>
			<dict>
				<key>text</key>
				<string>火箭</string>
				<key>image</key>
				<string>Expression_17</string>
				<key>imageTag</key>
				<string>em2_17</string>
			</dict>
			<dict>
				<key>text</key>
				<string>心心</string>
				<key>image</key>
				<string>Expression_18</string>
				<key>imageTag</key>
				<string>em2_18</string>
			</dict>
			<dict>
				<key>text</key>
				<string>蛋糕</string>
				<key>image</key>
				<string>Expression_19</string>
				<key>imageTag</key>
				<string>em2_19</string>
			</dict>
			<dict>
				<key>text</key>
				<string>咖啡</string>
				<key>image</key>
				<string>Expression_20</string>
				<key>imageTag</key>
				<string>em2_20</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
